h1 {
  font-size: 75px;
  color: blue;
  text-align: center;
}

h2 {
  color: hotpink;
}

.form {
  padding-bottom: 20px;
  border: solid 1px;
  text-align: center;
}

.logo {
  width: 100px;
  height: auto;
}

.results {
  border: solid 1px;
  text-align: center;
}
.results h2 {
  color: purple;
}

.error {
  text-align: center;
  color: red;
}

.success {
  text-align: center;
  color: green;
}
